<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beiing.lilinote">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="base.application.LiLiNoteApp"
        android:allowBackup="true"
        android:icon="@drawable/app_launture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DeepPurpleTheme">
        <activity android:name=".main.activity.MainActivity" />
        <activity android:name="base.image_selector.MultiImageSelectorActivity" />
        <activity android:name=".gifmake.GifMakeActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".main.activity.LauchActivity"
            android:theme="@style/AppTheme.FullScreen.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".note.NoteEditActivity" />
        <activity android:name=".strength.activity.StrengthActivity" />
        <activity
            android:name=".strength.activity.AddStrengthActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".strength.activity.ProjectsActivity" />
        <activity android:name=".strength.activity.AddProjectActivity" />
        <activity android:name=".strength.activity.StrengthPlanActivity"></activity>
    </application>

</manifest>